@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'poppins';  
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{width: 100%;}
.nav-container{
    background: #3A6977;
    a{color: white;}
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo{
        height: 150px;
        width: 50px;
    }
        ul{
            display: flex;
        }
        a{
        display: block;
        padding: 0 1em;
        }
    }
.social-head,.home-shape{
    display: none;
}
.home{
    background: #467583;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}
.meet{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #54F26D;
    span{
        margin-top: 1em;
        margin-right: 0.5em;
    }
}
.scroll{
    width: 30px;
    margin-top: 2em;
}
section{
    padding: 4em 2em;
    text-align: center;
}
.featured{
    position: relative;
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #50D373;
    opacity: 45%;
    top: 0;
    left: 0;
    z-index: -1;
}
.sub{
    text-transform: uppercase;
    font-weight: bold;
    color: #467583;
    letter-spacing: .8em;
    font-size: .85em;
}
.featured-des{
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 800;
}
.skills{
    background: #54F26D;
}
.skills-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
   
    .icon-container{
        height: 50px;
        width: 50px;
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
   .skills-title{
       font-weight: bold;
   }
   .featured-des{
       margin-bottom: 2em;
   }
}
.projects{
    background: #f7f7f7;
}
.project-container a img{
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 800px){
    .featured , .projects{
        text-align: left;
    }
    .featured, .project-container{
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left, .project-left{
        display: grid;
        
    }
    .right{
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 1em;
    }
    .projects{
        padding-top: 7em;
        margin-left: 2em;
    }
}
@media only screen and (min-width: 1050px){
    .home{
        height: 90vh;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        header{
        background: #3A6977;
        }
    }
    header{
        padding: 2em 2em 2em 4em;
    }
    .social-head{
        padding: 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }
    .social-head{
        display: block;
        ul{
            display: flex;
            justify-content: space-between;
            width: 9em;
            float: right;
            img{
                width: 30px;
                height: 35px;
            }
        }
    }
    .home{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        .content{
            background: #467583;
            padding: 6em 8em 6em 4em;
            text-align: left;
            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        
        }
    }
    .meet{
        margin: unset;
    }
    .home-shape{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;    
    }
    .projects img{
        float: right;
        max-width: 500px;
    }
}
@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }
    .social-head{
        padding: 2em 10em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .home .content{
        padding: 6em 8em 6em 10em;
    }
}
@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }
    .social-head{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em;
    }
    .home .content{
        padding: 9em 20em 6em 20em;
    }
}